@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --primary-color: #141615;
  --white: #fff;
  --black: #000;
  --naslovna: #a3b9c9;
}
.pagination {
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #141615;
  --bs-pagination-active-border-color: #141615;
}
.page-link {
  color: #141615;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(124, 124, 124, 0.25);
}

.hero_section {
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    backdrop-filter: blur(20px);
  }
}


body {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #141615;
}

img{
    max-width: 100%;
}

h2 {
    line-height: 1;
}

a {
    color: #141615;
    text-decoration: none;
}


.hero {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100vh;
}

.hero_img {
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
}

/* .hero-products {
    background-image: url("./img/hero-products.png");
} */


.home-2 {
    /* background-image: url("./img/home-2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.home-2-products {
    /* background-image: url("./img/home-2-products.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 234px 0;
}

.home-3-products {
    /* background-image: url("./img/home-3-products.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.home-2-products .btn{
    background-color: #ffffff;
    color: #141615;
    font-size: 12px;
    line-height: 1;
    height: 50px;
    border-radius: 80px;
}

.home-4 ul li {
    list-style-type: none;
    display: list-item;
}

.home-4 ul li h3::before {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(42, 42, 42, 0.1);
    display: inline-block;
    margin-right: 10px;
    margin-left: -34px;
}

.max-466 {
    max-width: 466px;
}

h3 {
    font-size: 20px;
}

.opacity-90 {
    opacity: 0.9;
}

.faq {
    text-align: center;
}

.accordion-header {
    height: 100px;
}

.about-us {
    padding: 60px 0;
}

.about-us h2 {
    margin-bottom: 60px;
}

.about-us .col-md-4 > div {
    border: 1px solid rgba(20,22,21, 0.1);
    padding: 26px;
    min-height: 180px;
}

.footer-top {
    background-color: #404243;
    color: #fff;
    padding: 40px 0;
    font-size: 16px;
}

.footer-top .btn{
    background-color: #fff;
    color: #141615;
    border-radius: 80px;
    font-size: 14px;
    line-height: 1;
    padding: 20px;
}

footer {
    background-color: #141615;
    color: #f0f0f0;
    padding: 60px 0 100px;

}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer a {
    color: rgba(255, 255, 255, 1);
}

.email {
    background-color: #141615;
    color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    padding-right: 50px;
    width: 300px;
    height: 50px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subscribe .btn {
    background-color: #ffffff;
    border-color: #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 200px;
    margin-left: -60px;
}

input[type="checkbox"] {
    background-color: #141615;
    color: #ffffff;
    border-color: #ffffff;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.icons {
    width: 20px;
    height: 20px;
}

@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 4rem;
    }
    .h2 h2 {
        font-size: 3rem;
    }
}


   


.bike {
    background-color: #ebedee;
    border-radius: 8px;
    padding: 20px 10px;
    
}


.options-row {
    justify-content: space-between;
}


.bike-slide {
    background-color: #ebedee;
    border-radius: 8px;
    padding: 40px 30px;
}

/* .slick-next, .slick-prev, .slick-next, .slick-prev {
    position: relative;
    display: inline-block;
    left: initial;
    right: initial;
    margin-left: 15px;

    width: 15px;
    height: 27px;
    background-image: url("./img/arrow.svg");
    opacity: 0.5;
} */

/* .slick-next:hover, .slick-prev:hover {
    background-image: url("./img/arrow.svg");
    opacity: 1;
}


.slick-prev {
    transform: scaleX(-1);
    top: 6px;
}

.slick-next::before, .slick-prev::before{
    display: none;
}
.bike-slide h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    justify-content: space-between;
}

.bike-slide h2 span:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
}

.bike-slide p {
    font-size: 16px;
    margin-bottom: 10px;
}

.bike-slide p:last-child {
    margin-bottom: 0;
    margin-top: 35px;
}

.bike-slide p a {
    font-size: 12px;
    text-decoration: underline;
    padding: 12px 23px;
}

.bike-slide p a.btn {
    text-decoration: none;
    border-radius: 45px;
    background-color: #fff;
    padding: 12px 23px;
}  */

.explore h3 {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}


.slick-list{
	margin: 0 -12px;
}

.slick-slide {
    margin: 0 12px;
}



/* .page-header {
    padding: 150px 0;
    background-image: url("./img/page-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}*/

.page-header h1{
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5;
}

.page-header p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 0.625rem;
    
}

.page-content {
    padding-top: 80px;
    padding-bottom: 48px;
}

.page-content p {
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 1.5;
}

