.admin {

    .naslovna {
    content: "";
    width: 100%;
    height: 282px;
    background-color:  var(--naslovna);

}

.profile_pic {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -40px;
    left: 30px;
    border: 6px solid var(--white);

}

h1 {
    font-weight: bold;
    font-size: 30 px;
    color: var(--black);
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    li {
        font-size: 14px;
        font-weight: medium;
        color: var(--primary-color);
    }
}


}
